{% extends 'base.html' %}

{% block content %}
<section class="page" id="app-show-page">
  <div>
    <h2>
      {{ application.name }} application <a href="{% url 'application_edit' pk=application.pk %}">(edit)</a>
      <a href="{% url 'application_delete' pk=application.pk %}" class="delete">delete</a>
    </h2>
  </div>
    <ul>
        <li>          
          <p>Company Name:{{application.name}}</p>
          <p>Job Title:{{application.job_title}}</p>
          <p>Posting URL:{{application.job_url}}</p>
          <p>Date Applied:{{application.date_applied }}</p>
          <p>Notes on the company:{{application.company_notes }}</p>
          <p>Peronsonal Notes:{{application.personal_notes}}</p>
        </li>
    </ul>
</section>


{% endblock %}