{% extends 'base.html' %}

{% block content %}

<section class="page parallax" id="intro-page">

    <div class="row container intro-container">
        <div id="intro-card">
            <div class="card-panel">
                <span class="white-text">Finding a job in the Bay Area is nothing less than a daunting task. This app is designed to help anyone who wants help getting started. We'll be walking through guidelines for resume/linkedin tailoring, job hunting stategies, applying to the jobs themselves, and where to go from there. Let's get started!
                </span>
            </div>
        </div>
        <!-- <div class="col s12 m5 center-align">
                <div class="card-panel teal darken-2">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
        </div> -->
    </div>                    
</section>

<section class="page" id="resume-page">
    <div>
        <p>You need to have an up-to-date resume to submit, no questions <p>
        <p>list your work/personal experience</p>
        <p>just a few bullet boints per job. It doesn't need to be very wordy as long as a recruiter can get an accurate idea of your experience</p>
        <p>contact information </p>
        <p>stick to simple designs, that arent to cluddered. and dont over do color. I personally use some blue in my resume. give the file a relevant name</p>
    </div>
</section>

<section class="page" id="linkedin-page">
    <div>
        <p>linkedin stuff</p>
        <p>linkedin stuff</p>
        <p>linkedin stuff</p>
        <p>linkedin stuff</p>
        <p>linkedin stuff</p>
    </div>
</section>

<section class="page" id="targeting-page">
        <p>referralls!</p>
        <p>actually look for companies you find interested</p>
        <p>think about what youd need out of a job</p>
        <p>job targeting stuff</p>
        <p>job targeting stuff</p>
    </section>

<section class="page" id="application-page">
    <div class="app-page">
        <h4>Applications  <a href="{% url 'application_create' %}"class="btn-floating btn-large cyan "> <i class="material-icons"> edit </i> </a></h4> 

        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Date Applied</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.name}}</a></td>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.job_title}}</a></td>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.date_applied}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- ######################### -->

<section class="page" id="tips-page">
        <p>interview tips</p>
        <p>interview tips</p>
        <p>interview tips</p>
        <p>interview tips</p>
        <p>interview tips</p>
</section>

<section class="page" id="resources-page">
        <p>resourcse</p>
        <p>resourcse</p>
        <p>resourcse</p>
        <p>resourcse</p>
        <p>resourcse</p>
        <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
</section>

<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Brent Warren
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

{% endblock %}

