{% extends 'base.html' %}

{% block content %}

<section class="page parallax" id="intro-page">

    <div class="row container intro-container">
        <div id="intro-card">
            <div class="card-panel z-depth-3">
                <span class="white-text">Finding a job in the Bay Area is nothing less than a daunting task. This app is designed to help anyone who wants help getting started. We'll be walking through guidelines for resume/linkedin tailoring, job hunting stategies, applying to the jobs themselves, and where to go from there. 
                        <br>
                        <br>Let's get started!
                </span>
            </div>
            <div class="arrow">
                <i class="large material-icons">arrow_downward</i>
            </div>
        </div>
    </div>                    
</section>
<section class="page" id="resume-page">
    <div class="app-page">
        <h4>Resume Building tips</h4>
        <div class="container">
            <div class="row i-am-centered">
                <div class="col s3">
                        <li class="li-content">You need to have an up-to-date resume, free of typos, ready to submit when you apply.</li>
                        <li class="li-content">List your work/personal experience. don’t be afraid of your history. Everyones life is different, you’ve got a story to tell.</li>
                        <li class="li-content">List the month/year next to your roles from start to end.</li>
                </div>

                <div class="col s3">
                        <li class="li-content">Just a few bullet boints per job. Resumes don’t need to be word-for-word as long as a recruiter can get an accurate idea of your experience. Be concise and leave room to talk.</li>
                        <li class="li-content">Your personal contact information, phone number and email, need to be listed.</li>
                </div>

                <div class="col s3">
                        <li class="li-content">Stick to simple designs that arent too cluddered and dont over do color. I personally use some blue in my resume. Make sure to give the file a relevant name.</li>
                        <li class="li-content">Don't be afraid to have multiple versions of your resume that are slightly different and tailored towards a company/job you really want.</li>
                </div>
                <div class="col s3">
                        <li class="li-content">Make sure the file name/email is relevant and profressional. Recruiters will see both.</li>
                        <li class="li-content">I highly recommend a summary statement at the top. Especially if your current location is different from where you want to work.</li>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page" id="linkedin-page">
        <div class="app-page">
            <h4>LinkedIn Building tips</h4>
            <div class="container">
                <div class="row i-am-centered">
                    <div class="col s3">
                            <li class="li-content">Have a professional picture, nothing funny.</li>
                            <li class="li-content">Most work history and/or large durations of other experiences. It's okay to list if you haven't been working or traveling for extended periods of time.</li>
                    </div>
    
                    <div class="col s3">
                            <li class="li-content">Location and/or place where you want to work needs to be listed. Home address is not needed. </li>
                            <li class="li-content">Turn on the "Let recruiters know you're open to opportunities" in your settings. Profiles get seperated by user activity on linkedin and this will put you first.</li>
                    </div>
    
                    <div class="col s3">
                            <li class="li-content">Add relevant skills to your skills section. Recruiters search by tenure and keywords. A strong skills section will help your profile show up.</li>
                    </div>
                    <div class="col s3">
                            <li class="li-content">Ask previous employeers/coworkers to right a recommendation. Although not detrimently, it makes a big difference seeing previous company would vouch for you, like a reference.</li>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="page" id="targeting-page">
        <div class="app-page">
            <h4>Job Hunting/Targeting</h4>
                <div class="container">
                    <div class="row i-am-centered">
                        <div class="col s3">
                                <li class="li-content">This is the fun part, actually looking at companies that interest you.</li>
                                <li class="li-content">This is where you need to define what type of work environment sounds good to you. High energy vs Relaxed? A very defined role or someone who wears multiple hats?</li>
                        </div>

                        <div class="col s3">
                            <li class="li-content">Linkedin is a great spot for hunting for jobs. But companies post on lots of sites and/or their own site due to platform agreements. Always check multiple sources.</li>
                            <li class="li-content">Always leverage referrals like friends or family willing to submit your information. Employees are usually incentivized for it and your application will get more attention.</li>
                        </div>

                        <div class="col s3">
                                <li class="li-content">You'll need to keep track and take notes on all the companies you apply to. This will come in really handy when you finally get on the phone for an initial screen.</li>
                                <li class="li-content">Start attending meetups and networking events in the area. It will gain you exposure the community of people in your field.</li>
                        </div>
                        <div class="col s3">
                                <li class="li-content">Interview processes vary, but you'll almost always have an initial phone screen, a phone interview, and an onsite. Depending on your field you may have more or less, and/or technical apptitude tests.</li>
                                <li class="li-content">Check out the <a href="#resources-page">Resources Section</a> for some great websites to start finding interesting companies in the bay.</li>
                        </div>
                    </div>
                </div>
        </div>
</section>




<section class="page" id="application-page">
    <div class="app-page">
        <h4>Application Tracker  <a href="{% url 'application_create' %}"class="btn-floating btn-large cyan "> <i class="material-icons"> edit </i> </a></h4> 

        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Date Applied</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.name}}</a></td>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.job_title}}</a></td>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.date_applied}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- ######################### -->

<section class="page" id="tips-page">
        <div class="app-page">
            <h3>Interview tips</h3>
                <div class="container">
                    <div class="row i-am-centered">
                        <div class="col s3">
                                <li class="li-content">Study the company and role you applied to. Reading the companies mission statement and values goes a long way<./li>
                                <li class="li-content">Make sure you're corresponding to recruiters as soon as possible. There are a lot of candidates and you'll want to move as fast as a company does.</li>
                        </div>
                        <div class="col s3">
                                <li class="li-content">When developing questions, give a lot of thought to what you might need out of a company. Try to learn about the structure of a team, their current projects, and future goals.</li>
                        </div>

                        <div class="col s3">
                                <li class="li-content">Learn as much about a company and a role from the employees to make sure its the right fit for you as well. Sometimes you'll need to say no.</li>
                        </div>
                        <div class="col s3">
                                <li class="li-content">You'll want an idea of what kind of salary or wage you're going to ask for and what you'll be comfortable accepting. Companies like Glassdoor, LinkedIn, etc have salary tools to help you get you a ballpark.</li>
                        </div>
                    </div>
                </div>
            </div>
</section>

<section class="page" id="resources-page">
        <div class="app-page">
            <h3>Resources</h3>
                <div class="container">
                    <div class="row i-am-centered">
                        <div class="col s3">
                                <li class="li-content"><a href="https://docs.google.com"target="_blank">Google Docs</a> has a resume template for a decent starting place</li>
                                <li class="li-content">For a few dollars <a href="https://www.livecareer.com/"target="_blank">Live Career</a> is a great tool for finding templates and critiqueing your resume. </li>
                        </div>

                        <div class="col s3">
                                <li class="li-content"><a href="https://www.thesaurus.com/"target="_blank">Thesarus.com</a> and <a href="https://www.grammarly.com"target="_blank">Grammarly</a> will save your resume and email correspondence from getting repetitive or dull </li>
                        </div>

                        <div class="col s3">
                                <li class="li-content"><a href="https://techcrunch.com/unicorn-leaderboard/"target="_blank">CrunchBase's Unicorn Board</a> and <a href="https://primeunicornindex.com/unicorn-companies/"target="_blank">The Unicorn Index</a> show pre-IPO companies that can be really exciting to work for and can help you find companies you find interesting </li> 
                        </div>
                        <div class="col s3">
                                <li class="li-content"><a href="https://builtin.com/"target="_blank">BuiltIn</a> takes a lot of pride in the companies they feature. For a company to be listed, BuiltIn  conducts their own interviews in order to personally endorse them</li>
                        </div>
                    </div>
                </div>
            </div>
        <!-- <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div> -->
</section>
{% endblock %}

