{% extends 'base.html' %}

{% block content %}

<section class="page parallax" id="intro-page">

    <div class="row container intro-container">
        <div id="intro-card">
            <div class="card-panel z-depth-3">
                <span class="white-text">Finding a job in the Bay Area is nothing less than a daunting task. This app is designed to help anyone who wants help getting started. We'll be walking through guidelines for resume/linkedin tailoring, job hunting stategies, applying to the jobs themselves, and where to go from there. 
                        <br>
                        <br>Let's get started!
                </span>
            </div>
            <div class="arrow">
                <i class="large material-icons">arrow_downward</i>
            </div>
        </div>
        <!-- <div class="col s12 m5 center-align">
                <div class="card-panel teal darken-2">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
        </div> -->
    </div>                    
</section>

<section class="page" id="resume-page">
    <div class="app-page">
        <h4>Resume Building tips</h4>
        <div class="container">
            <div class="row i-am-centered">
                <div class="col s3">
                    <ul>
                        <li>You need to have an up-to-date resume to submit that is free of typos<li>
                        <li>List your work/personal experience. don’t be afraid of your history. Everyones life is different, you’ve got a story to tell</li>
                    </ul>
                </div>

                <div class="col s3">
                    <ul>
                        <li>Just a few bullet boints per job. Resumes don’t need to be word-for-word as long as a recruiter can get an accurate idea of your experience. Be concise and leave room to talk.</li>
                        <li>Your personal contact information, phone number and email, need to be listed</li>
                    </ul>
                </div>

                <div class="col s3">
                    <ul>
                        <li>Stick to simple designs that arent too cluddered and dont over do color. I personally use some blue in my resume. Make sure to give the file a relevant name</li>
                        <li>Don't be afraid to have multiple versions of your resume that are slightly different and tailored towards a company/job you really want</li>
                    </ul>
                </div>
                <div class="col s3">
                    <ul>
                        <li>Make sure the file name/email is relevant and profressional. Recruiters will see both</li>
                        <li>smore stuff about resumes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page" id="linkedin-page">
        <div class="app-page">
            <h4>LinkedIn Building tips</h4>
            <div class="container">
                <div class="row i-am-centered">
                    <div class="col s3">
                        <ul>
                            <li>Professional Picture </li>
                            <li>Location located and/or place where you want to work. Home address is not needed </li>
                            <li>Most work history and/or large durations of other experiences. It's okay to list if you haven't been working or traveling for extended periods of time.</li>
                        </ul>
                    </div>
    
                    <div class="col s3">
                        <ul>
                            <li>Turn on the "show recruiters I'm actively looking for work button</li>
                        </ul>
                    </div>
    
                    <div class="col s3">
                        
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="page" id="targeting-page">
        <div class="app-page">
            <h4>Job Hunting/Targeting</h4>
                <div class="container">
                    <div class="row i-am-centered">
                        <div class="col s3">
                            <ul>
                                <li>actually look for companies you find interested <li>
                                <li>referralls!</li>
                                <li>think about what youd need out of a job</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>job targeting stuff</li>
                                <li>job targeting stuff</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>you'll need to keep track of all the companies you apply to.</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
</section>




<section class="page" id="application-page">
    <div class="app-page">
        <h4>Applications  <a href="{% url 'application_create' %}"class="btn-floating btn-large cyan "> <i class="material-icons"> edit </i> </a></h4> 

        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Date Applied</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.name}}</a></td>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.job_title}}</a></td>
                        <td><a href="{% url 'application_detail' pk=application.pk %}">{{application.date_applied}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- ######################### -->

<section class="page" id="tips-page">
        <div class="app-page">
            <h3>Interview tips</h3>
                <div class="container">
                    <div class="row i-am-centered">
                        <div class="col s3">
                            <ul>
                                <li>actually look for companies you find interested <li>
                                <li>referralls!</li>
                                <li>think about what youd need out of a job</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>job targeting stuff</li>
                                <li>job targeting stuff</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>you'll need to keep track of all the companies you apply to.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</section>

<section class="page" id="resources-page">
        <div class="app-page">
            <h3>Resources</h3>
                <div class="container">
                    <div class="row i-am-centered">
                        <div class="col s3">
                            <ul>
                                <li>things i like! <li>
                                <li>cool stuff that can help!</li>
                                <li>merp merp!</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>job targeting stuff</li>
                                <li>job targeting stuff</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>you'll need to keep track of all the companies you apply to.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
</section>

<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Brent Warren
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
</footer>

{% endblock %}

