{% extends 'base.html' %}

{% block content %}
<section class="page" id="app-show-page">
    <div class="app-page app-show-container">
        
        <div class="container">
            <div id="app-details">
                <h4>
                    {{ application.name }} application <a href="{% url 'application_edit' pk=application.pk %}"><i class="material-icons">create</i></a>
                    <a href="{% url 'application_delete' pk=application.pk %}" class="delete"><i class="material-icons">delete</i></a>
                </h4>
                <div class="col s3">
                    <p class="app-names">Job Title:</p>
                    <p class="app-inputs">{{application.job_title}}</p>
                    <br>
                    <p class="app-names">Posting URL:</p>
                    <p class="app-inputs"><a href="{{application.job_url}}">{{application.job_url}}</a></p>
                    <br>
                    <p class="app-names">Date Applied:</p>
                    <p class="app-inputs">{{application.date_applied }}</p>
                    <br>
                    <p class="app-names">Notes on the company:</p>
                    <p class="app-inputs">{{application.company_notes }}</p>
                    <br>
                    <p class="app-names">Peronsonal Notes:</p> 
                    <p class="app-inputs">{{application.personal_notes}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}