{% load static %}

<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


<script defer src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--CSS-->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!--Materialize JS-->
<script defer src="{% static 'scripts/materialize.js' %}"></script>

<title>JHT</title>
        <!-- <link rel="icon" href="images/transparent logo black.png" type="image/png"> -->
    </head>
    <body>
        <div class="navbar-fixed">
                <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">three</a></li>
                </ul>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <a href="#intro-page" class="brand-logo">JHT</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            {% if user.is_authenticated %}
                                <li><strong>Welcome {{ user.first_name}}</strong></li>
                                <li><a href="#resume-page">Resume/Linkedin Builder</a></li>
                                <li><a href="#application-page">Application Tracker</a></li>
                                <li><a href="#tips-page">Interviewing Tips</a></li>
                                <li><a class="dropdown-trigger"  data-target="dropdown1" href="#!">Resources<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a href="{% url 'logout' %}">Signout</a></li>
                            {% else %}
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                </div>
            </nav>
        </div>  
            <ul class="sidenav" id="mobile-demo">
                    {% if user.is_authenticated %}
                    Welcome {{ user.first_name }}
                        <li><a href="#resume-page">Resume/Linkedin Builder</a></li>
                        <li><a href="#application-page">Application Tracker</a></li>
                        <li><a href="#tips-page">Interviewing Tips</a></li>
                        <li><a href="#tips-page">Interviewing Tips</a></li>
                        <li><a href="#resources-page">Resources</a></li>
                        <li><a href="{% url 'logout' %}">Signout</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
            </ul>


        {% block content %}
        {% endblock %}  
    </body>
</html>
