{% load static %}

<html>
    <head>
        <title>JHT</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h1>Job Hunt Toolkit</h1>
        <nav>
            <a href="#">Getting Started</a>
            <a href="#">Resume Builder</a>
            <a href="#">Linkedin Builder</a>
            <a href="#">Application Tracker</a>
            <a href="#">Interviewing Tips</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>