{% extends 'base.html' %} 
{% block content %}

{% if error %}
<p style="background-color: salmon; padding: 10px;">{{ error }}</p>
{% endif %}
<section id="register-page" class="page">
<div>
	<div class="welcome">
		<h1><strong>Welcome to the Job Hunt Toolkit</strong></h1>
		<h5><strong>A straight forward guide to finding a tech job in the bay</strong></h5>
	</div>

	<div>
		<form class="login-form new-app" ijd="register-form" action="{% url 'login' %}" method="POST">
			{% csrf_token %}

			<p>
				<label for="username">Username</label>
				<input type="text" name="username" required maxlength="25" minlength="2" />
			</p>

			<p>
				<label for="password">Password</label>
				<input
					type="password"
					name="password"
					required
					maxlength="25"
					minlength="4"
				/>
			</p>

			<button type="submit" class="save btn btn-default">Login</button>
		</form>
	</div>
</div>
</section>
{% endblock %}