
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


/* ################## above Code from spoofy #################### */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  margin-left: 0px;
  margin-right: 0;
  padding-left: 0px;
  padding-right: 0;
}


/*###############  Materialize edits ############# */
nav{
  background-color:rgba(64, 64, 65, 0.37);
  }

.brand-logo {
  margin-left: 20px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .brand-logo {
    margin-left: 0px;
  }
}

.welcome {
  text-align: center;
  color: white;
  padding-top: 120px;
}

#register-page{
  color: whitesmoke;
  margin-top: -63.98px;
  background-image: url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.login-form {
    max-width: 300px;
    margin: auto;
    margin-top: 10vh;
}

#intro-page{
  margin-top: -63.98px;
  background-image: url("https://i.postimg.cc/MpdTK8NL/black-field-notes-2608409.jpg");
  /* background-image: url("https://i.imgur.com/ZnFPkzi.jpg?1");
  background-image: url("https://imgur.com/ue42pVf"); */
}

#intro-card {
  position: absolute;
  max-width: 500px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  #intro-card {
    top: 30%;
  }
}

#resume-page{
  font-family: 'Lato', sans-serif;
  min-height: 60vh;
  background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#linkedin-page{
  font-family: 'Lato', sans-serif;
  background: #4875B4;
  min-height: 50vh;
  color: white;
  background-image: url("https://images.pexels.com/photos/3167220/pexels-photo-3167220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
}

#targeting-page {
  font-family: 'Lato', sans-serif;
  background: rgb(151, 21, 21);
  background-image: url("https://images.pexels.com/photos/3112019/pexels-photo-3112019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  color: white;
}

#application-page{
  text-align: center;
  justify-content: center;
  min-height: 40vh;
}

#app-show-page{
  margin-top: -63.98px;
  background-image: url("https://images.pexels.com/photos/164642/pexels-photo-164642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-image: cover;
  color: black;
  /* min-height: 100vh; */
}

.app-show-container{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.app-names{
  color: rgb(54, 54, 54);
  font-size: small;
}

.app-inputs{
  font-size: 20px;
}

#app-details{
  text-align: left;
}

table{
  margin: auto;
  text-align: center;
  max-width: 600px;
  justify-content: center;
  margin-bottom: 80px;
}

#newapp-page{
  color: whitesmoke;
  margin-top: -60.98px;
  background-image: url("https://images.pexels.com/photos/97076/pexels-photo-97076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

#new-app{
  padding-top: 120px;
}

.new-app{
  color: whitesmoke;
  font-size: medium;
}

.new-app{
  max-width: 400px;
  margin: auto;
  margin-top: 10vh;
}

form {
  color: black;
  padding:30px;
  background: rgb(245, 245, 245);
  border-radius: 10px;
}

textarea{
  height: 100px;
}

h2{
  text-align: center;
  margin: 0;
}

.save {
  margin-top: 15px;
}

#tips-page{
  font-family: 'Lato', sans-serif;
  background:#ffc400;
  min-height: 50vh;
  background-image: url("https://images.pexels.com/photos/32246/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#resources-page{
  font-family: 'Lato', sans-serif;
  min-height: 50vh;
  background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: contain;
}

.parallax {
  /* The image used */
  background-repeat: no-repeat;
  background-size: auto;
  /* Full height */
  /* height: 100%; */
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-panel{
  min-width: 300px;
  max-height: 500px;
  border-radius: 10px;
  background: rgba(0, 121, 121, 0.842);
}

.app-page{
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.center-things{
  text-align: center;
  justify-content: center;
}


.i-am-centered { 
  margin: auto; max-width: 1200px;
}

.col{
  max-width: 450px;
  min-width: 25px;
}

@media screen and (max-width: 600px) {
  .row .col.s3 {
    width: auto;
  }
}

.li-content {
  margin: 10px 5px;
  font-size: 18px;
  border-radius: 10px;
  text-align: left;
}

.arrow {
  color: rgba(0, 121, 121, 0.377);
  padding-top: 30px;
}

html {
  scroll-behavior: smooth;
}