
 /* body {
  font-family: 'Helvetica Neue', sans-serif;
  max-width: auto;
  margin: auto;
  padding: 2em 1em;
} */

/* nav a {
  border: 1px solid black;
  margin: .5em;
  padding: .5em;
  background-color: #eeeeee;
} */

/* nav a:hover {
  background-color: orange;
  color: blue;
} */

/* a,a:visited {
  text-decoration: none;
  color: blue;
} */

/* a:hover {
  background-color: #ccc;
} */

/* ul {
  list-style-type: none;
} */

/* li {
  margin: .25em;
} */

/* h1 {
  font: inherit;
  color: inherit;
  letter-spacing: -.05em;
  text-decoration: none;
  border-bottom: 1px solid black;
} */

/* h2>a {
  font-size: .75em;
} */

/* textarea {
  display: block;
  border: solid 1px black;
  background: whitesmoke;
} */

/* input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
} */

input[type=submit],
a.delete {
  width: auto;
  padding: 9px 15px;
  background-color: gray;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}

a.delete {
  background-color: red;
}
/* .user-info {
  float: right;
} */

/* a.fav {
  text-decoration: none;
  color: red;
} */

/* a.no-fav {
  text-decoration: none;
  color: black;
} */

/* .fav:visited,
.no-fav:visited {
  text-decoration: none;
} */

/* ################## above Code from spoofy #################### */

.page {
  min-height: 100vh;
  margin-left: 0px;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 0;
}


/*###############  Materialize edits ############# */

.brand-logo {
  margin-left: 20px;
}

.register-form {
  max-width: 300px;
  margin: auto;
  margin-top: 15vh;
}

.login-form {
    max-width: 300px;
    margin: auto;
    margin-top: 15vh;
}

#intro-page{
  margin-top: -63.98px;
  background-image: url("../images/gotthis.jpg");
}

#resume-page{
  min-height: 50vh;
  background: brown;
}

#linkedin-page{
  background: rgba(0, 0, 255, 0.664);
  min-height: 50vh
}

#application-page{

}

#tips-page{

}

#resources-page{

}



nav{
background-color:rgba(0, 171, 193, 0.37);
}

.parallax {
  /* The image used */
  background-image: url('../images/gotthis.jpg');
  background-repeat: no-repeat;
  background-size: auto;

  /* Full height */
  height: 100%;
/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
